/* Universal Styles */

body {
  background-color: black;
}

/* Header */

header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  width: 100%;
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid seashell;
}

.logo img {
  display: flex;
  margin-left: 10px;
  color: seashell;
  height: 50px;
  border: 1px solid white;
}

nav span{
  display: inline-block;
  margin: 10px;
  border: 1px solid white;
}

a {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
}

/* Main Content Container */

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Mission */

.image-content {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  display: flex;
  align-items: center;
  height: 700px;
  width: 1200px;
}

.image-text {
  width: 100%;
  background: black;
  text-align: center;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  border: 1px solid white;
}

/* Tea Month */

.menu {
  width: 1000px;
  margin-top: 50px;
  border: 1px solid white;
}

.menu-title {
  text-align: center;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  border: 1px solid white;
}

.menu-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-item img {
  height: 200px;
  width: 300px;
  border: 1px solid white;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
}

.menu-item span {
  display: block;
  text-align: center;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  border: 1px solid white;
}

/* Locations */

.location-image {
  display: block;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  margin-top: 50px;
}

.title {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  border: 1px solid black;
}

.title h2 {
  text-align: center;
  border: 1px solid black;
}

.location-container {
  display: flex;
  justify-content: center;
  border: 1px solid white;

}

.location {
  display: inline-block;
  width: 300px;
  height: 300px;
  opacity: 1;
  background-color: black;
  margin-top: 15px;
  margin-right: 40px;
  border: 1px solid white;
}

.location-content {
  display: block;
  text-align: center;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;

}

.location span {
  display: block;
  margin-bottom: 40px;
  border: 1px solid white;
}

/* Contact */

.contact {
  display: flex;
  justify-content: center;
  width: 1000px;
  height: 200px;
  border: 1px solid white;
}

.contact-info {
  display: block;
  text-align: center;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  border: 1px solid white;
}

.contact-info h5 {
  margin-top: 40px;
  border: 1px solid white;
}

.contact-info h2 {
  border: 1px solid white;
}

.contact-info span {
  border: 1px solid white;
}

/* Footer */

.footer {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  border: 1px solid white;
  margin-left: 20px;
  margin-top: 30px;
}
