/* Universal Styles */

body {
  background-color: black;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  border-bottom: 1px solid seashell;
}

.logo img {
  display: flex;
  margin-left: 10px;
  color: seashell;
  height: 50px;
  border: 1px solid white;
}

nav span{
  display: inline-block;
  margin: 10px;
  border: 1px solid white;
}

a {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
}

/* Main Content Container */

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Mission */

.image-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
}


.image-text {
  width: 1200px;
  background: black;
  text-align: center;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  border: 1px solid white;
}

/* Tea Month */

.menu {
  width: 1000px;
  display: flex;
  justify-content: center;
  border: 1px solid white;
}

.menu-text {
  width: 1000px;
  text-align: center;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  border: 1px solid white;
}

.menu-images {
  display: inline-block;



}
.menu-item img {
  height: 200px;
  width: 300px;
  border: 1px solid white;
}
